@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap');

@keyframes fadeIn {

  0% {opacity: 0} 

  100% {opacity: 1}

}

.page p{
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 300;
  font-size: 20px;
  margin: 20px;
  animation: fadeIn 3s ease 0s 1 normal;
}

.page{
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 20px;
  font-weight: 200;
  margin-bottom: 100px;
  text-align: center;
}

.page h1{
  margin-top: 50px;
  font-weight: 200;
  color:rgb(110, 210, 255);
  transition:1s all;
}

.page h1:hover{
  color:rgb(255, 120, 255);
  transform:scale(1.2,1.2);
  transition:1s all;
}

.NakaYou{
  margin-top: 100px;
  animation: fadeIn 1s ease 0s 1 normal;
  transition:1s all;
}

.NakaYou:hover{
  transform:scale(1.2,1.2);
  transition:1s all;
}

.links{
  font-size: 3vw;
  font-weight: 300;
  border:0.1vh solid;
  margin:0.5vw;
  padding: 1vw;
  color:rgb(110, 210, 255);
  transition:1s all;
}

.links:hover{
  text-decoration: none;
  color:rgb(255, 120, 255);
  transform:scale(1.2,1.2);
  transition:1s all;
}
.navbar{
  margin-top: 5vh;
  padding:2vw;
  text-align: center;
}

.page ul {
  list-style: none;
  margin:0;
  margin-bottom:100px;
  padding:0;
  text-align: center;
  animation: fadeIn 3s ease 0s 1 normal;
}

.page li{
  display:inline;
  margin: 0 10px 0 0;
}

.blogTitles{
  font-weight: 300;
}

.date{
  margin-top: 50px;
}


.photo{
  width:10vw;
}

.share{
  font-weight: 300;
  text-decoration:underline;
  margin-top: 20px;
  color:rgb(110, 210, 255);
}

.img{
  border-radius: 50%;
}